div.codeMain
  div.wrapper
    img.main-image-left(src="images/deploy-tattoo.png")
    div.main-content-right
      h1.headline Software Engineering
      div.code-box
        h2 I speak code:
        p
          | HTML5, CSS3, Javascript, CoffeeScript, jQuery,
          | Backbone, Underscore, Angular, RequireJS, Handlebars,
          | Jade, Stylus, Sass, Node / Express,
          | Socket.io, PhoneGap, MySQL, SQLite,
          | MongoDB, PostGreSQL, Jasmine,
          | Mocha, Chai, Sinon, Grunt, NPM, Bower

        h2 Basically, I code awesome things that work.
        a(href="https://github.com/RyanMG" target="_self")
          img(src="images/social_media/badge_github.svg")
        a(href="http://stackoverflow.com/users/2579514/drhall" target="_self")
          img(src="images/social_media/badge_so.svg")

      div.center-button
        button#codePortfolio.see-portfolio See Portfolio

div.codePortOne
  div.wrapper
    ul
      li.code-example-box-tall
        img(data-proj="crp-site", src="images/code/crp-main-img.jpg")
      li.code-example-box-tall
        img(data-proj="bto-site", src="images/code/bto-main-img.jpg")
      li.code-example-box-square
        img(data-proj="syn-site", src="images/code/syn-main-img.jpg")
      li.code-example-box-square
        img(data-proj="scratch-site", src="images/code/scratch-main-img.jpg")

    div.center-button
      button#codeBackOne.back-button Back
      button#codeNext.next-button Next

div.codePortTwo
  div.wrapper
    ul
      li.code-example-box-rect
        img(data-proj="mad-site", src="images/code/mad-main-img.jpg")
      li.code-example-box-tall
        img(data-proj="datsy-site", src="images/code/datsy-main-img.jpg")
      li.code-example-box-rect
        img(data-proj="vic-site", src="images/code/vic-main-img.jpg")

    div.center-button
      button#codeBackTwo.back-button Back
