div.wrapper
  div.main-content-left
    h1.headline Graphic Design
    p
      | My background in photography and image
      | retouching was a natural segue that lead me
      | to start doing design work in 2006. I studied
      | at the Art Center of Design in Pasadena
      | while taking on personal projects, and
      | started working as a designer professionally
      | in 2007.
    p
      | With 6+ years experience designing for the
      | entertainment industry, I have worked on
      | all manner of design and production
      | projects, seeing projects from concept to
      | production.
      
    div.center-button
      button.see-portfolio See Portfolio

  img.main-image-right(src="images/design-tattoo.jpg")
