div.wrapper
  img.main-image-left(src="images/rose-tattoo.png")
  div.main-content-right
    h1.headline Photography

    div.photo-sample-box

    div.center-button
      button.see-portfolio See Portfolio
