/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f
gray = #737373

#code
  padding 0

  .main-image-left
    margin-top 55px
    margin-left 10px
    height 491px
    width 416px

  .main-content-right
    width 530px

    h1
      text-align left
      margin-left -70px
    
    .code-box
      margin-top 20px
      padding 20px
      width 449px
      height 333px
      background-color white
      border 2px solid offblack
      box-shadow inset 0 0 45px #999

      h2
        text-align center
        color offblack
        font-size 30px
        margin 4px 0 1px 0
        padding 0

      h2:first-child
        font-size 35px
        margin-top 0px

      p
        text-align center
        margin 8px 0
        font-size 18px
        font-weight 400
        color gray
        line-height 24px

      img
        margin-top 10px
        height 80px
        width 80px
        margin-left 95px
        cursor pointer
