/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f

#contact
  background-color white
  height 475px
  padding-top 10px
  overflow-x hidden

  .main-image-right, .main-image-left
    width 225px
    height 221px

  h3
    text-align center
    font-size 21px
    line-height 27px
    margin 15px 0
    color offblack

  .social-media
    height 110px
    width 800px
    margin 30px auto

    img.social-media-badge
      float left
      display inline
      height 110px
      width 110px
      padding 0 10px

  footer
    height 30px
    width 100%
    border-top 1px solid ltgray

    p
      margin-top 30px
      padding-left 20px
      font-size 10px
      color ltgray
      float left

    p:last-child
      float right
      padding-left 0
      padding-right 20px
