/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f

#design
  background-color white

  h1.headline
    float left
    width  500px
    padding-left 80px
    margin-bottom 40px

  p
    clear left
    width 500px
    color offblack
    font-size 18px
    line-height 24px
    padding 0
    margin 10px auto

  .main-image-right
    margin-top 30px
