/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f
gray = #737373

#design
  background-color white
  height 530px
  overflow-x hidden

  .designMain
    position absolute
    width 100%
    left 0

    .main-content-left
      z-index 10

      h1.headline
        float left
        width  500px
        margin 10px 0 30px 30px

      p
        clear left
        width 450px
        color gray
        font-size 20px
        line-height 27px
        padding 0 0 0 40px
        margin 10px auto


      .center-button
        margin-top 40px
        margin-left 10px

    .main-image-right
      margin 20px 20px 0 0 
      height 493px
      width 386px

  .designPort
    position absolute
    width 100%
    left 100%

    .center-button
      margin-top 5px
    ul
      text-decoration none
      margin-bottom 0

      li.design-example-box
        list-style none
        margin 10px
        display inline-block
        height 200px
        width 200px
        border gray
        background-color offblack
        