/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f

section-background(edge, center)
  background: center; /* Old browsers */
  background: -moz-linear-gradient(left,  center 0%, edge 50%, center 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,edge), color-stop(50%,center), color-stop(100%,edge)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  center 0%,edge 50%,center 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(left,  center 0%,edge 50%,center 100%); /* IE10+ */
  background: linear-gradient(to right,  center 0%,edge 50%,center 100%); /* W3C */
 
html
  background-color white
  font-family Arial, Helvetica, sans-serif
  z-index 1
  background url('../images/landing-page-bg.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

body
  margin 0
  padding 0
  width 100%
  min-height 500px

.wrapper
  width 960px
  margin 0 auto
  height 100%

nav
  z-index 11
  position fixed
  top 0
  width 100%
  height 60px
  background-color dkbrown
  margin-top -60px
  
  .header-logo
    height 50px
    margin-top 5px
    margin-left 10px
    float left

  ul
    text-align right
    width 580px
    margin-top 22px
    margin-right 10px
    float right
    overflow hidden

    li.nav-link
      display inline-block
      list-style none
      font-size 12px
      padding-left 35px
      color white

    li.nav-link:hover
      color #bbb
      cursor pointer


header
  position relative
  z-index 2
  min-height 200px
  
  .main-logo
    width 500px
    position absolute
    left 50%
    top 50%
    margin-left -80px
    margin-top -150px

  .header-band
    width 100%
    height 90px
    position absolute
    top 70%
    background-color #111
    opacity .8

    .header-band-img
      height 80px
      position absolute
      left 48%
      margin-top 10px

section
  display block
  width 100%
  height 570px

.headline
  color offblack
  font-size 47px
  margin 0
  padding-top 20px
  letter-spacing 1px
  text-align center

.headline:before
  content '{'
  padding-right 8px
  font-size 55px
  color dkbrown

.headline:after
  content: '}'
  padding-left 6px
  font-size 55px
  color dkbrown

.main-image-left, .main-content-left
  position relative
  float left
  width 450px

.main-image-right, .main-content-right
  position relative
  float right
  width 450px

.center-button
  text-align center
  margin-top 20px
  margin-left -30px

  button.see-portfolio
    text-align left
    border-radius 10px
    height 40px
    width 188px
    padding-left 15px
    border 1px solid offblack
    background-color white
    color offblack
    font-size 18px
    font-weight 600
    letter-spacing 1px
    background-image url('../images/page-arrow.svg')
    background-repeat no-repeat
    background-size 25px 30px
    background-position 145px center

  button.see-portfolio:hover
    background-color darken(white, 10)

  button.see-portfolio:focus
    outline none

  button.back-button
    text-align right
    border-radius 10px
    height 40px
    width 100px
    padding-right 15px
    border 1px solid offblack
    background-color white
    color offblack
    font-size 18px
    font-weight 600
    letter-spacing 1px
    background-image url('../images/page-arrow.svg')
    background-repeat no-repeat
    background-size 25px 30px
    background-position 15px center

  button.back-button:hover
    background-color darken(white, 10)

  button.back-button:focus
    outline none

#code
  section-background(#eae4e1, #ddd6d2)


#photography
  section-background(#eae4e1, #ddd6d2)

