/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f

#photography
  height 560px

  .photoMain
    position absolute
    width 100%
    left 0

    .main-image-left
      width 316px
      height 510px
      margin-top 25px

    .main-content-right
      width 620px

      h1
        margin-left -30px

      .photo-sample-box
        margin 30px 0 30px 10px
        height 270px
        width 490px
        padding 30px
        background offblack
        border 2px solid white

        h2
          color white
          text-align center
          margin 0
          font-size 28px

        h3
          color white
          text-align center
          margin 0
          font-size 21px
        p
          color white
          text-align left
          margin 14px 0
          font-size 18px
          line-height 24px
  .photoPort
    position absolute
    width 100%
    left 100%
