/*
  variable definitions
*/
white = #f9f8f5
tan = #e0d9d5
dkbrown = #764925
offblack = #232732
ltgray = #8f8f8f

#photography
  height 560px

  .main-image-left
    width 316px
    height 510px
    margin-top 25px

  .main-content-right
    width 620px

    h1
      margin-left -30px

    .photo-sample-box
      margin 30px 0 30px 10px
      height 330px
      width 550px
      background offblack
      border 2px solid white