div.wrapper
  h1.headline Welcome to Trusty Code
  h3
    | Hey there! I am David Ryan Hall - part tech geek, part artist, all
    | rock and roll. I create things, and this is my showcase for the work
    | I’ve done! Have a look around, see what catches your fancy!

  div.about-blurbs
    div.about-code
      img.about-img(src="images/about-page-img-01.jpg")
      h2 CODE
      h4
        | I make websites, applications and other techy things which are are
        | generally rad. With a year+ experience, I blend my design experience
        | with technical skills to make the web more beatiful as well as functional.

    div.about-design
      img.about-img(src="images/about-page-img-02.jpg")
      h2 DESIGN
      h4
        | Solid aesthetics with a mind towards functionality and the conveyance
        | of the proper message. Good design isn’t just pretty to look at - it
        | also needs to serve a purpose. I help tell stories through visual mediums.

    div.about-photo
      img.about-img(src="images/about-page-img-03.jpg")
      h2 PHOTO
      h4
        | A picture is worth 1000 words, but a great picure is an entire narriative.
        | It’s not about smiling and saying ‘cheese’ - it’s about capturing a
        | moment that matters. 1/60th of a second is all I need write your story.
        