div.wrapper
  img.main-image-left(src="images/deploy-tattoo.png")
  div.main-content-right
    h1.headline Software Engineering
    div.code-box
      h2 I speak code:
      p
        | HTML5, CSS3, Javascript, CoffeeScript, jQuery,
        | Backbone, Underscore, Angular Handlebars,
        | Jade, Stylus, Sass, Node / Express,
        | Socket.io, PhoneGap, MySQL, SQLite,
        | MongoDB, PostGreSQL, Jasmine,
        | Mocha, Chai, Sinon, Grunt, NPM, Bower

      h2 Basically, I code awesome things that work.
      a(href="https://github.com/RyanMG" target="_self")
        img(src="images/social_media/badge_github.svg")
      a(href="http://stackoverflow.com/users/2579514/drhall" target="_self")
        img(src="images/social_media/badge_so.svg")

    div.center-button
      button.see-portfolio See Portfolio