div.wrapper
  img.main-image-left(src="images/contact-sparrow-left.jpg")
  img.main-image-right(src="images/contact-sparrow-right.jpg")
  h1.headline Get in Touch
  h3
    | Want to know more? Want to discuss work?
    | Just want to share Spotify playlists? (I have a
    | lot of them!) Feel free to get in touch!
    | The social media icons below are a good
    | way to touch base!
  div.social-media
    a(href="mailto:david.ryan.hall@gmail.com")
      img.social-media-badge(src="images/social_media/badge_email.svg")
    a(href="")
      img.social-media-badge(src="images/social_media/badge_linkedin.svg")
    a(href="")
      img.social-media-badge(src="images/social_media/badge_angel.svg")
    a(href="")
      img.social-media-badge(src="images/social_media/badge_twitter.svg")
    a(href="")
      img.social-media-badge(src="images/social_media/badge_mm.svg")
    a(href="")
      img.social-media-badge(src="images/social_media/badge_dribble.svg")

  footer
    p &copy; 2013 Trusty Code / David Ryan Hall. Tattoo Designs by Sailor Jerry.
    p Built in Photoshop, powered by Node, structured with Backbone