doctype 5
html
  head
    title Trusty Code | Design + Development + DIY
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    link(rel='stylesheet', href='/stylesheets/contact.css')
    link(rel='stylesheet', href='/stylesheets/design.css')
    link(rel='stylesheet', href='/stylesheets/code.css')
    link(rel='stylesheet', href='/stylesheets/photo.css')
      
  body

  script(data-main="javascript/main", src="bower_components/requirejs/require.js")


