doctype 5
html
  head
    title Trusty Code | Design + Development + DIY
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    link(rel='stylesheet', href='/stylesheets/contact.css')
    link(rel='stylesheet', href='/stylesheets/design.css')
    link(rel='stylesheet', href='/stylesheets/code.css')

  body
    nav
      div.wrapper
        img.header-logo(src="images/hand-coded-logo-only.svg")
        ul.ul-base-style
          li.nav-link(data-div="one") BACK TO TOP
          li.nav-link(data-div="two") ABOUT
          li.nav-link(data-div="three") CODE
          li.nav-link(data-div="four") DESIGN
          li.nav-link(data-div="five") PHOTOGRAPHY
          li.nav-link(data-div="six") CONTACT

    div.header-background-image
    header
      img.main-logo(src="images/hand-coded-logo.svg")
      div.header-band
        img.header-band-img(src="images/header-band-img.svg")

    section#about
      include sections/about

    section#code
      include sections/code

    section#design
      include sections/design

    section#photography
      include sections/photo.jade

    //- section#contact
    //-   include sections/contact

  script(src='/bower_components/jquery/jquery.min.js')
  script(src='/javascript/main.js')

