doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
      div.wrapper
        img(src="images/hand-coded-logo.svg" class="main-logo")
        div.scroll-down-box
          img(src="images/scroll-down.svg" class="scroll-down-tag")
          img(src="images/anchor.svg" class="anchor-pointer")


    div.about

    //- div.code

    footer
      div.wrapper
        ul.ul-base-style
          li.footer-link Footer Link One
          li.footer-link Footer Link Two

  script(src='/bower_components/jquery/jquery.min.js')
  script(src='/javascript/main.js')

