doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
      div.wrapper
        h2(class="logo") TRUSTY CODE
        nav
          ul.ul-base-style
            li.nav-link Link One
            li.nav-link Link Two
            li.nav-link Link Three
            li.nav-link Link Four

    block content

    footer
      div.wrapper
        ul.ul-base-style
          li.footer-link Footer Link One
          li.footer-link Footer Link Two

  script(href='/bower_components/jquery/jquery.min.js')
