<div class="designMain"><div class="wrapper"><div class="main-content-left"><h1 class="headline">Graphic Design</h1><p>My background in photography and image
retouching was a natural segue that lead me
to start doing design work in 2006. I studied
at the Art Center of Design in Pasadena
while taking on personal projects, and
started working as a designer professionally
in 2007.</p><p>With 6+ years experience designing for the
entertainment industry, I have worked on
all manner of design and production
projects, seeing projects from concept to
production.</p><div class="center-button"><button id="designPortfolio" class="see-portfolio">See Portfolio</button></div></div><img src="images/design-tattoo.jpg" class="main-image-right"/></div></div><div class="designPort"><div class="wrapper"><p>Coming as soon as I can be bothered.<div class="center-button"><button id="designBack" class="back-button">Back</button></div></p></div></div>