#code{padding:0;overflow-x:hidden;}
#code .codeMain{position:absolute;width:100%;left:0;}
#code .codeMain .main-image-left{margin-top:55px;margin-left:10px;height:491px;width:416px}
#code .codeMain .main-content-right{width:530px;}
#code .codeMain .main-content-right h1{text-align:left;margin-left:-70px}
#code .codeMain .main-content-right .code-box{margin-top:20px;padding:20px;width:449px;height:333px;background-color:#f9f8f5;border:2px solid #232732;box-shadow:inset 0 0 45px #999;}
#code .codeMain .main-content-right .code-box h2{text-align:center;color:#232732;font-size:30px;margin:4px 0 1px 0;padding:0}
#code .codeMain .main-content-right .code-box h2:first-child{font-size:35px;margin-top:0}
#code .codeMain .main-content-right .code-box p{text-align:center;margin:8px 0;font-size:17px;font-weight:400;color:#737373;line-height:24px}
#code .codeMain .main-content-right .code-box img{margin-top:10px;height:80px;width:80px;margin-left:95px;cursor:pointer}
#code .codePortOne{position:absolute;width:100%;left:100%;}
#code .codePortOne .center-button{clear:both;margin-top:5px;}
#code .codePortOne .center-button button{margin-left:17px}
#code .codePortOne ul{height:460px;margin-top:20px;margin-bottom:20px;}
#code .codePortOne ul li.code-example-box-square{clear:right;list-style:none;margin-bottom:6px;margin-top:6px;margin-right:45px;display:inline-block;height:215px;width:270px;border:2px solid #737373;float:right;background-color:#232732}
#code .codePortOne ul li.code-example-box-tall{float:left;list-style:none;margin:10px;display:inline-block;height:440px;width:270px;border:2px solid #737373;background-color:#232732}
#code .codePortTwo{position:absolute;width:100%;left:200%;}
#code .codePortTwo .center-button{clear:both}
#code .codePortTwo ul{height:460px;margin-bottom:20px;margin-top:30px;}
#code .codePortTwo ul li.code-example-box-tall{float:left;list-style:none;margin:10px;display:inline-block;height:440px;width:270px;border:2px solid #737373;background-color:#232732}
#code .codePortTwo ul li.code-example-box-rect{float:left;list-style:none;margin:90px 10px 10px 10px;display:inline-block;height:303px;width:270px;border:2px solid #737373;background-color:#232732}
