#design{background-color:#f9f8f5;}
#design h1.headline{float:left;width:500px;padding-left:80px;margin-bottom:40px}
#design p{clear:left;width:500px;color:#232732;font-size:18px;line-height:24px;padding:0;margin:10px auto}
#design .main-image-right{margin-top:30px}
