html
  background-color #fff
  font-family Arial, Helvetica, sans-serif

body
  margin 0
  padding 0
  height 1000px
  width 100%
  min-height 500px

.wrapper
  width 960px
  margin 0 auto
  height 100%

.ul-base-style
  padding 0
  margin 0 auto

/* HEADER STYLES */
header
  height 100%
  min-height 200px
  background-image url('../images/fpo-background-image.jpg')
  background-position center center
  background-size cover
  
  .main-logo
    width 700px
    position absolute
    left 50%
    top 50%
    margin-left -350px
    margin-top -175px

  .scroll-down-box
    width 150px
    height 120px
    position absolute
    bottom 5px
    left 50%
    margin-left -75px

    .scroll-down-tag
      width 150px
      position absolute

    .anchor-pointer
      left: 40px
      width 60px
      position absolute
      bottom 0px
      -webkit-animation-name bounce
      -webkit-animation-duration 2s
      -webkit-animation-fill-mode backwards
      -webkit-animation-iteration-count infinite

@keyframes bounce
   0%
     bottom 10px
     animation-timing-function ease-out
   55%
      bottom 5px
      animation-timing-function ease-out
   100%
      bottom 10px
      animation-timing-function ease-out
  
  nav
    float right
    width 440px
    height 30px
    padding 30px 15px 0 0

    li.nav-link
      display inline-block
      list-style none
      font-size 20px
      padding-left 25px
      color #ffffff

    li.nav-link:hover
      color #bbb
      cursor pointer


/* DUMMY PAGES */

.about, .code
  width 100%
  height 500px
  background-color #90ada5


/* FOOTER STYLES */
footer
  height 100px
  width 90%
  border-top 1px solid #999
  margin 10px auto 0 auto

  ul
    width 300px
    
    li.footer-link
      color #999
      display inline-block
      list-style none
      text-align center
      padding 10px 10px 0 10px

    li.footer-link:hover
      color #333
      cursor pointer
