html
  background-color #fff
  font-family Arial, Helvetica, sans-serif

body
  margin 0
  padding 0

.wrapper
  width 960px
  margin 0 auto
  height 100%

.ul-base-style
  padding 0
  margin 0 auto

.left, .right
  height 160px
  width 70px
  border-radius 90px
  background-color #555
  opacity 0.1
  float left
  margin 190px 0 0 20px
  border 2px solid #000

.right
  float right
  margin 190px 20px 0 0

.left:hover, .right:hover
  opacity 0.5
  border 2px solid #555

/* HEADER STYLES */
header
  background-color #222
  z-index 10
  width 100%
  height 80px
  position fixed
  top 0
  left 0

  h2
    font-size 45px
    margin 0
    padding 16px 0 0 15px
    float left
    color #999
  
  nav
    float right
    width 440px
    height 30px
    padding 30px 15px 0 0

    li.nav-link
      display inline-block
      list-style none
      font-size 20px
      padding-left 25px
      color #999

    li.nav-link:hover
      color #bbb
      cursor pointer

/* MAIN PAGE CONTENT */
.bigImage
  margin-top 100px
  width 100%
  height 600px
  background-position center center
  background-size cover

/* DUMMY PAGES */

.about, .code
  width 900px
  height 400px
  background-color #c1c1c1
  border-radius 5px
  margin 20px auto


/* FOOTER STYLES */
footer
  height 100px
  width 90%
  border-top 1px solid #999
  margin 10px auto 0 auto

  ul
    width 300px
    
    li.footer-link
      color #999
      display inline-block
      list-style none
      text-align center
      padding 10px 10px 0 10px

    li.footer-link:hover
      color #333
      cursor pointer
