.modal-mask{z-index:9;height:100%;width:100%;position:fixed;top:0;left:0;background-color:#000;opacity:.6}
.modal-window{z-index:10;height:600px;width:600px;background-color:#fff;position:fixed;top:50%;left:50%;margin-top:-300px;margin-left:-300px;box-shadow:0 2px 15px #333;}
.modal-window #close-modal{font-size:22px;padding-top:4px;font-weight:800;position:absolute;top:0;right:0;margin-top:-15px;margin-right:-15px;height:40px;width:40px;border-radius:12px;background-color:#e0d9d5;border:2px solid #232732}
.modal-window #close-modal:hover{background-color:#fff}
.modal-window #close-modal:focus{outline:none}
.modal-window img.modal-full-img{height:526px;width:600px;padding:0;margin:0}
.modal-window .modal-text-bar{width:100%;position:absolute;bottom:0;background-color:#e0d9d5;height:75px;}
.modal-window .modal-text-bar p.modal-title{font-weight:800;font-size:25px;color:#232732;margin:9px 20px 0 20px}
.modal-window .modal-text-bar p.modal-description{font-size:12px;color:#232732;margin:0 20px}
