#photography{height:560px;}
#photography .main-image-left{width:316px;height:510px;margin-top:25px}
#photography .main-content-right{width:620px;}
#photography .main-content-right h1{margin-left:-30px}
#photography .main-content-right .photo-sample-box{margin:30px 0 30px 10px;height:330px;width:550px;background:#232732;border:2px solid #f9f8f5}
